.emoji-item {
  width: clamp(90px, 20vw, 300px);
  list-style-type: none;
  margin: 8px;
}

.emoji-item button {
  background-color: #ffffff33;
  cursor: pointer;
  outline: none;
  width: clamp(90px, 20vw, 300px);
  height: 90px;
  border: 3px solid #ffffff30;
  border-radius: 24px;
}

@media screen and (min-width: 668px) {
  .emoji-item button {
    height: 140px;
  }
}
@media screen and (min-width: 888px) {
  .emoji-item button {
    height: 200px;
  }
}

.emoji-item img {
  width: clamp(50px, 8vw, 100px);
}
