.win-or-lose-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff33;
  width: clamp(20rem, 55vw, 50rem);
  border: 3px solid #ffffff30;
  border-radius: 24px;
  margin: auto;
  padding: clamp(16px, 3vw, 32px);
}

@media screen and (min-width: 990px) {
  .win-or-lose-card {
    flex-direction: row;
  }
}

.game-status-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-status-container h1 {
  color: #ffffff;
  font: bold clamp(30px, 4vw, 64px) Verdana, Geneva, Tahoma, sans-serif;
}

.game-status-container p:nth-child(2) {
  text-align: center;
  color: #ffffff;
  font: bold clamp(20px, 3vw, 36px) 'Verdana';
}

.game-status-container p:nth-child(3) {
  text-align: center;
  color: #6a59ff;
  font: bold clamp(32px, 4vw, 48px) 'Verdana';
}

.game-status-container button {
  color: #3d3d3d;
  background-color: #ffce27;
  font: bold clamp(16px, 2.5vw, 20px) 'Verdana';
  border: none;
  border-radius: 18px;
  margin: 16px 0 2px 0;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
}

.image-section {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 990px) {
  .image-section {
    order: 1;
  }
}

.image-section img {
  width: clamp(220px, 50vw, 280px);
  height: 300px;
}

@media screen and (min-width: 990px) {
  .image-section img {
    height: 400px;
  }
}
